* {
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  margin:0;
  padding:0;
}

body {
  color: rgb(255,255,255);
}

.header{
  align-items: center;
  background-color: rgba(0, 0, 0, 0.342);
  display:flex;
  justify-content: space-between; 
  left:0;
  padding:20px 10%;
  position:fixed;
  top:0;
  width:100%;
  z-index: 100;
}

.logo{
  border-radius: 45%;
  color:white;
  font-family: Verdana;
  font-size: 14px;
  height: 50px;
  width: 50px;
}

.logoo{
  color:white;
  font-size:30px;
  opacity: 0.9;
  position:relative;
  text-decoration: none;
  font-weight: 100;
 
}

.navbar a{
  color:white;
  display:inline-block;
  font-size:24px;
  font-weight:600;
  margin-left: 40px;
  margin-right: 10px;
  text-decoration:none;
  transition:3s;
}

.navbar a:hover{
  color:aqua;
}

.home{
  align-items:center;
  background-image: url(./Images/chess3.jpg);
  background-size:cover;
  background-position: center;
  color: rgb(190, 190, 190);
  display: flex;
  justify-content:space-between;
  height:100vh;
  padding-left: 50%;
  position:relative;
  width:100%;
}

.portfolio, .skills, .contact{
  background-image: url(./Images/Photo_1691153488841.png);
  background-position: center;
  background-size:cover;
}

.home-content {
  max-height: 100%;
  max-width: 100%;
  padding-bottom: 0;
  padding-top: 0;
}

.home-sci a {
  color: rgb(190, 190, 190);
  font-size: 40px;
  margin-top: 20px;
}

.home-content h3 {
  font-size: 40px;
}

.home-content h1 {
  font-weight: 600;
  font-size: 60px;
}

.home-content p {
  font-size: 20px;
}

.about{
  background-color: rgb(109, 97, 97);
  background-position: center;
  background-size:cover;
  color:rgb(255, 255, 255);
  font-size: 30px;
  min-height: 100vh;
  min-width:100%;
  padding:20px;
}

.image_{
  width:220px;
  height:220px;
  margin-left:40%;
  border-radius: 20%;
  border: 4px gray solid;
}

.ME{
  display:inline-block;
  font-size: 25px;
  margin-left:125px;
}

.chess{
  background-color: yellow;
  color:black;
  display:inline;
  font-size: 30px;
  padding:10px;
}

.portfolio{
  font-size: 30px;
  margin-top: 10px;
  min-height: 100vh;
  min-width:100%;
  padding:20px;
  position: relative;
}

.wethinkcode1{
  border-radius: 10%;
  font-size: 35px;
  height:350px;
  margin-left:140px ;
  margin-top: 20px;
  width:350px;
}
.wethinkcode2{
  border-radius: 10%;
  font-size: 35px;
  height:370px;
  margin-left: 140px;
  margin-top: 20px;
  width:370px;
}
.wethink{
  background-color: rgba(66, 39, 39, 0.356);
  color:white;
  margin-left: 110px;
  font-size:medium;
}

.skills{
    font-size: 25px;
    min-height: 100vh;
    min-width:100%;
    padding:31px;
    position: relative;
}

.all{
    display:inline-table;
}
.TechnicalSkills{
      font-family:monospace ;
      font-size: 22px;
}

.proffessi{
  color:rgb(0, 0, 0);
  font-size: 22px;
}
.proskills{
  color:rgb(255, 255, 255);
  font-family: Verdana;
  font-size: 28px;
  
}

.quote{
    align-items: center;
    background-color:chocolate;
    color:black;
    display:inline;
    font-size: 38px;
    justify-content: center;
    padding:10px;
}

.programs{
  align-items: center;
  color:rgb(255, 255, 255);
  font-size: 28px;
  justify-content: center;
}
.javascript{
  border-radius: 10%;
  margin-left: 140px;
  height:170px;
  width:170px;
}
.python{
  border-radius: 10%;
  margin-left: 140px;
  height:170px;
  width:170px;
}
.Cplus{
  border-radius: 10%;
  margin-left:140px;
  height:170px;
  width:170px;
}

.teamw{
  border-radius: 10%;
  margin-left: 40%;
  height:170px;
  width:170px;
}

.contact{   
  min-height: 100vh;
  min-width:100%;
  padding:20px;
}

.numbers{
  color:blue;
  font-size: 35px;
}

.Cio{
  color:blue;    
  font-size: 55px;
}
.AQ{
  color:aliceblue;
  font-size: 27px;
}

.top_headings {
  padding-left: 40%;
  padding-bottom: 20px;
  font-size: 50px;
  font-weight: 700;
}
