/* Start Global Rules */
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'poppins', sans-serif;

}

body {
    color: rgb(white);
    /* background-image: url(./Images/chess3.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    
}
.header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  padding:20px 10%;
  background:transparent;
  display:flex;
  justify-content: space-between; 
  align-items: center;
  z-index: 100;
}
.logo{
  position:relative;
  font-size:25px;
  color:white;
  text-decoration: none;
  font:weight;

}
.navbar a{
  display:inline-block;
  font-size:24px;
  color:white;
  text-decoration:none;
  font-weight:600;
  margin: left 40px;
  margin-right: 10px;
  transition:3s;

}
.navbar a:hover{
  color:aqua;


}
  .home{
    color: rgb(190, 190, 190);
    position:relative;
    width:100%;
    justify-content:space-between;
    height:100vh;
    background-image: url(./Images/chess3.jpg);
    /* background: no-repeat; */
    background-size:cover;
    background-position: center;
    display: flex;
    align-items:center;
    padding-left: 50%;
    /* padding: 30% 20% 40%;
    margin-top: 300px; */
  } 

  .home-content {
    /* background-color: aliceblue; */
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 0;
    padding-top: 0;
  }

  .home-sci a {
    font-size: 40px;
    margin-top: 20x;
    /* color: black; */
    color: rgb(190, 190, 190);
  }

  .home-content h3 {
    font-size: 40px;
  }

  .home-content h1 {
    font-size: 60px;
    font-weight: 600;
  }

  .home-content p {
    font-size: 20px;
  }
.about{
  margin-top: 10px;
  min-height: 100vh;
  min-width:100%;
  background-image: url(./Images/Edit_Chess.png);
    /* background: no-repeat; */
    background-size:cover;
    background-position: center;

}
.portfolio{
  margin-top: 10px;
   min-height: 100vh;
  min-width:100%;
}
.skills{
   min-height: 100vh;
  margin-top: 10px;
  min-width:100%;
  background-image: url(./Images/Chess_Backgroun.jpg);
    /* background: no-repeat; */
    background-size:cover;
    background-position: center;
}
.contact{
   min-height: 100vh;
  min-width:100%;
  margin-top: 10px;
  background-image: url(./Images/piccc.jpg);
    /* background: no-repeat; */
    background-size:cover;
    background-position: center;

}
/* div {
  max-height: 100vh;
} */
